@use '@shared/styles/variables' as variables;

.sortControls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: variables.$space-1;
}

@media (max-width: variables.$breakpoint-xs) {
  .sortControls {
    gap: 0;
  }
}

.label {
  margin-right: variables.$space-1;

  color: variables.$color-text-muted;

  font-size: variables.$font-size-sm;
  font-weight: variables.$font-weight-regular;
  line-height: 1.25rem;
}
