@use '@shared/styles/variables' as variables;

.errorBoundary {
  box-sizing: border-box;
  display: grid;
  min-height: 100vh;
  place-items: center;

  padding: variables.$space-5 variables.$space-4;
}

.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 32rem;

  padding: variables.$space-6;

  border: 1px solid variables.$color-border;
  border-radius: variables.$radius-lg;

  background-color: variables.$color-surface;

  text-align: center;
}

.title {
  margin: 0 0 variables.$space-4;
}

.description {
  margin: 0 0 variables.$space-5;
}
