.adminProductsLayout {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1.5rem;
}

.formSection {
  grid-column: 1 / -1;
}

.productsSection {
  display: flex;
  grid-column: 1 / -1;
  flex-direction: column;
  gap: 1rem;
}

.operationLoader {
  margin-top: 0.75rem;
}

@media (min-width: 768px) {
  .formSection {
    grid-column: span 4;
  }

  .productsSection {
    grid-column: span 8;
  }
}
