@use '@shared/styles/variables' as variables;

.notFoundPage {
  padding: 5rem 0;

  text-align: center;
}

.title {
  margin: 0 0 variables.$space-4;

  color: variables.$color-text-primary;

  font-size: 1.875rem;
  font-weight: variables.$font-weight-bold;
  line-height: 2.25rem;
}

.message {
  margin: 0;

  color: variables.$color-text-muted;
}
