@use '@shared/styles/variables' as variables;

.productGrid {
  display: flex;
  flex-direction: column;
  gap: variables.$space-4;
}

.emptyState {
  display: flex;
  min-height: 12rem;
  align-items: center;
  justify-content: center;

  padding: variables.$space-6 variables.$space-4;

  border: 1px solid variables.$color-border;
  border-radius: variables.$radius-lg;

  color: variables.$color-text-muted;
  background-color: variables.$color-surface;

  font-size: variables.$font-size-sm;
  text-align: center;
}
